/**
*CSS rules my App
**/
<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


>>>>>>> devel
body{
    background-color: beige
}
[myApp] h2 {
    color: rgb(44, 0, 204)
}

[myApp] h2:hover{
    color: rgb(157, 165, 240)
<<<<<<< HEAD
}
=======
}
  /* Couleur du background des societe lorsquon clique dessus*/
  .selected{
    background-color: darkcyan;
}

.company ul {
    display: none;
}

.counter{
    color: blueviolet;
}
>>>>>>> devel
